@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    height: 1100px;
}

main, nav{
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu{
    background-color: transparent;
    transition: 1s;
}

.doNotDisplay{
    display: none;
}

.fillWeather{
    background-color: rgba(194, 193, 193, 0.178);
    border-radius: 20px;
    padding: 20px;
    font-size: 50px;
    backdrop-filter: blur(15px);
    transition: 2s;
}

.clearSky{
    background-image: url(./images/clear.png);
    transition: 2s;
    background-position:right;
}

.snowSky{
    background-image: url(./images/snow2.png);
    transition: 2s;
    background-position: center;
}

.otherSky{
    background-image: url(./images/other.png);
    transition: 2s;
    background-size: cover; 
}

#inputCity{
    background-color: transparent;
    border-color: rgb(138, 138, 138);
    border-style: solid;
    border-radius: 20px;
    height: 42px;
    padding: 5px;
}

#btnCity{
    border-color: rgb(138, 138, 138);
    border-style: solid;
    border-radius: 20px;
    height: 42px;
    padding: 5px;
    background-color: rgba(138, 138, 138, 0.726);
}

.temperature{
    font-weight: bolder;
}